* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}

* ::-webkit-scrollbar-track {
    background: white;/* цвет дорожки */
}

* ::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.3); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    margin-left: 10px;
}